.one{
  text-align: center;
  margin-top: 500px;
  margin-right: 140px;
  
}
.number{
  width: 130px;
  height: 130px;
  border-radius: 60px;
  background-color: black;
  border-color: white;
}
h1{
  color: white;
}
.two{
  text-align: center;
  margin-top: 20px;
  margin-right: 140px;
  
}
.clear{
  padding: 10px 15px;
  background-color: black;
  color: white;
  border-color: white;
  border-radius: 10px;
}
.add{
  padding: 10px 15px;
  background-color: black;
  color: white;
  border-color: white;
  border-radius: 10px;
}
body{
  background: url("./img/1674725638_top-fon-com-p-islamskii-fon-dlya-prezentatsii-164.jpg");
}

